.study-info-section {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;

  padding: 2rem 0;
}

.study-info-section:last-of-type {
  padding-bottom: 1rem;
  border: none;
}

.open-study-section-button {
  background-color: #ffffff00;
}

.open-study-section-button:hover {
  border: 1px solid transparent;
}
