.toggle-edit-field {
  display: flex;
  flex-direction: column;

  position: relative;
}

.toggle-edit-field-input-container {
  display: flex;
  width: 100%;
}

.toggle-edit-field-label,
.toggle-edit-field-input,
.toggle-edit-field-readonly {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  font-size: 1rem;
}

.toggle-edit-field-input[type='checkbox'],
.toggle-edit-field-input[type='radio'] {
  outline: none;
  width: 1.2rem;
  height: 1.2rem;
  align-self: center;
}
.toggle-edit-field-input[type='checkbox']:focus,
.toggle-edit-field-input[type='radio']:focus {
  outline: 2px solid var(--light-accent-color);
}

.toggle-edit-field-label {
  padding: 0.5rem 0;
}

.toggle-edit-field-input {
  border-radius: 5px 0 0 5px;
}

.toggle-edit-field-input-status-icon {
  border: none;
  border-radius: 0 5px 5px 0;
  outline: 1px solid #24242481;
  background-color: var(--light-color);
  width: min-content;
}

.toggle-edit-field-input:invalid {
  background-color: pink;
}

.always-flex-row {
  flex-direction: row;
}

@media (min-width: 1300px) {
  .toggle-edit-field {
    flex-direction: row;
    justify-content: space-between;
  }

  .toggle-edit-field-label {
    width: 40%;
  }
}
