.toggle-edit-field {
  display: flex;
  flex-direction: column;

  position: relative;
}

.toggle-edit-field-label,
.toggle-edit-field-input,
.toggle-edit-field-readonly {
  text-align: left;
  padding: 0.5rem;
  font-size: 1rem;
}

.toggle-edit-field-input[type='checkbox'],
.toggle-edit-field-input[type='radio'] {
  outline: none;
  width: 1.2rem;
}

.toggle-edit-field-label {
  padding: 0.5rem 0;
}

.toggle-edit-field-input {
  border-radius: 5px 0 0 5px;
}

.toggle-edit-field-input-status-icon {
  border: none;
  border-radius: 0 5px 5px 0;
  outline: 1px solid #24242481;
  background-color: var(--light-color);
}

.toggle-edit-field-input:invalid {
  background-color: pink;
}

@media (min-width: 1300px) {
  .toggle-edit-field {
    flex-direction: row;
    justify-content: space-between;
  }

  .toggle-edit-field-label,
  .toggle-edit-field-input,
  .toggle-edit-field-readonly {
    /* Put on this media query - if on mobile layout it overflows the container for some reason?? Even though 100% is LITERALLY 100% of the parent container! */
    width: 100%;
  }
}
