.cv-work-preview-item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--divider-color);
}

.cv-work-preview-item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.cv-work-preview-duties {
  margin-top: 1em;
  max-width: 30em;
}
