.container {
  padding: 2rem;

  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
}

.container:last-child {
  margin-bottom: 0;
}

.container-button {
  align-self: flex-end;
  min-width: 7em;
  margin-top: 1rem;
  background-color: var(--light-accent-color);
  color: var(--light-color);
}

.container-button:hover {
  background-color: var(--dark-accent-color);
}
