.edit-save-button {
  align-self: flex-end;
  min-width: 7em;
  margin-top: 1rem;
  background-color: var(--light-accent-color);
  color: var(--light-color);
}

.edit-save-button:hover,
.edit-save-button:focus {
  background-color: var(--dark-accent-color);
}
