.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border-bottom: 2px solid black;
  padding: 1rem 0;
}

.accordion-item:last-of-type {
  border: none;
}

.accordion-button {
  background-color: #ffffff00;
}

.accordion-button:hover {
  border: 1px solid transparent;
}
