.accordion-item {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;

  padding: 2rem 0;
}

.accordion-item:last-of-type {
  padding-bottom: 1rem;
  border: none;
}

.accordion-button {
  background-color: #ffffff00;
}

.accordion-button:hover {
  border: 1px solid transparent;
}
