.cv-general-preview {
  text-align: center;
  line-height: 1.2;
}

.cv-general-preview-name {
  margin-bottom: 0.2rem;
}

.cv-general-preview-text {
  font-weight: 600;
  color: var(--subtext-color);
}
