.work-button {
  background-color: var(--dark-color);
  color: var(--light-color);
  align-self: center;
}

.work-button:hover {
  background-color: black;
}

.delete-button {
  background-color: #c75995;
}

.work-info-section {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;

  padding: 2rem 0;
}

.work-info-section:last-of-type {
  padding-bottom: 1rem;
  border: none;
}
