#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-button {
  align-self: center;
  min-width: 7em;
  margin-top: 1rem;
  background-color: var(--light-accent-color);
  color: var(--light-color);
}

.container-button:hover {
  background-color: var(--dark-accent-color);
}
