.dynamic-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dynamic-container-item {
  border-bottom: 2px solid var(--divider-color);
}
.dynamic-container-item:last-of-type {
  border-bottom: none;
}

.dynamic-container-add-button,
.dynamic-container-delete-button {
  color: white;
  align-self: center;
}

.dynamic-container-add-button {
  background-color: var(--light-accent-color);
}
.dynamic-container-add-button:hover:enabled,
.dynamic-container-add-button:focus:enabled {
  background-color: var(--dark-accent-color);
}
.dynamic-container-add-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.dynamic-container-delete-button {
  background-color: var(--light-danger-color);
  margin: 1rem 0;
}
.dynamic-container-item:last-of-type > .dynamic-container-delete-button {
  margin-bottom: 0;
}

.dynamic-container-delete-button:hover,
.dynamic-container-delete-button:focus {
  background-color: var(--dark-danger-color);
}

.dynamic-container-none-text {
  /* Mimic button padding so nothing jiggles about when the save/edit button is clicked */
  /* Why is it jiggling about anyway... ? */
  padding: 0.6em 0;
}
