.dynamic-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dynamic-container-add-button,
.dynamic-container-delete-button {
  color: white;
  align-self: center;
}

.dynamic-container-add-button {
  background-color: var(--light-accent-color);
}
.dynamic-container-add-button:hover,
.dynamic-container-add-button:focus {
  background-color: var(--dark-accent-color);
}

.dynamic-container-delete-button {
  background-color: var(--light-danger-color);
  margin-top: 1rem;
}

.dynamic-container-delete-button:hover,
.dynamic-container-delete-button:focus {
  background-color: var(--dark-danger-color);
}
